{block content}
    <h1 n:block=title>Přihlášení</h1>

    {form signInForm}
        <!--
          <label n:name = username>Uživatelské jméno: <input n:name = username size = 20></label>
            <label n:name = password>Heslo: <input n:name = password></label>
            <label n:name = remember>Zůstat přihlášen <input n:name = remember></label>
            <input n:name = send class = "btn btn-default">
    -->
        <div class='form-group'>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder="Uživatelské jméno:" n:name = "username">
            </div>
        </div>

        <div class='form-group'>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                {*<input type="password" class="form-control" placeholder="Heslo:" n:name = "password">*}
                {input password}
            </div>
        </div>

        <div class='form-group'>
            <div class="input-group">
                <div class="checkbox">
                    <label>
                        {input remember}
                    </label>
                </div>
            </div>
        </div>

        <div class='form-group'>
            <button class="btn btn-block btn-primary" type="submit" n:name="send" >Odeslat</button>
        </div>
    {/form}
{/block}
