{block content}
    <h1 n:block="title"><i class="fa fa-list-alt"></i> Můj blog</h1>

    <span class="pull-right">
    <a n:href="Post:create" n:if="$user->loggedIn" class="btn btn-primary"><i class="fa fa-magic" aria-hidden="true"></i> Vytvořit nový příspěvek</a>
    </span>
    <br /><br />
    <div class="clearfix"></div>

    <div class="list-group">

        {foreach $posts as $post}
            <!--
            <a href="#" class="list-group-item">

                <h4 class=" list-group-item-heading">
                    <h2><a href="{link Post:show $post->id}">{$post->title}</a></h2>
                </h4>
                <div class="date">{$post->created_at|date:'j.n.Y'}</div>


                <div class="list-group-item-text">{$post->content}
                </div>

            </a> -->
            <a href="{link Post:show $post->id}" class="list-group-item">
                <h4 class="list-group-item-heading">
                    {$post->title}

                    <span class="pull-right text-muted small"> <!-- pull-right zarovnat na pravo, text-muted šedý text, small malé písmo -->
							<i class="fa fa-clock-o"></i> <i>{$post->created_at|date:'j.n.Y'}</i>
						</span>
                </h4>
                <p class="list-group-item-text">
                    {$post->content|noescape}
                    <!-- <a href="{link Post:show $post->id}"> Zobrazit více</a> -->

                </p>
            </a>
        {/foreach}
    </div>
{/block}