{block content}
    {* TODO: Temporary fix for image uploads *}
    <style>
        .note-group-select-from-files {
            display: none;
        }
    </style>

    <h1><i class="fa fa-magic" aria-hidden="true"></i> Nový příspěvek</h1>

    {form postForm}
        <div class="form-group">
            {label title}{/label}
            {input title class => 'form-control', placeholder => 'Zadejte titulek'}
        </div>
        <div class="form-group">
            {label content}{/label}
            {input content class => 'form-summernote'}
        </div>
        <div class="form-group text-center">
            {input send class => 'btn btn-primary'}
        </div>
    {/form}
{/block}

{block scripts}
    <script>
        $(document).ready(function() {
            $('.form-summernote').summernote({
                height: 500
            });
        });
    </script>
{/block}