﻿{block content}

<div class="row">
    <div class="col-lg-12">
        <a n:href="Homepage:default" class='btn btn-primary btn-xs'>← zpět na výpis příspěvků</a>
        <a class="btn btn-primary btn-xs pull-right" n:href="edit $post->id" n:if="$user->isInRole('admin')">Upravit příspěvek</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="pull-left">
            <h1 n:block="title">{$post->title}</h1>
        </div>
        <div class="pull-right">
            <br /><i class="fa fa-clock-o fa-fw"></i> {$post->created_at|date:'j.n.Y H:i:s'}
        </div>
    </div>
</div>

<div class="post">
    {$post->content|noescape}
</div>


<h2 n:if="!empty($comments)">Komentáře:</h2>

<div class="comments">
    {foreach $comments as $comment}
        {if $comment->comment_id == null}
            <div class="panel panel-default">

                <div class="panel-heading">
                    <b><a href="mailto:{$comment->email}" n:tag-if="$comment->email">{$comment->name}</a></b> napsal:
                    <div class="pull-right">{$comment->created_at }&nbsp &nbsp &nbsp <a class="btn btn-danger btn-xs" n:if="$user->isInRole('admin')" n:href="smazKomentar! $comment->id" ><i class="fa fa-trash" aria-hidden="true"></i> Smazat komentář </a></div>
                </div>

                <div class="panel-body">
                    <div>{$comment->content}</div>
                </div>

                {foreach $comments2 as $comment2}
                    {if $comment->id == $comment2->comment_id }
                        <div class="panel panel-default col-lg-offset-1">
                            <div class="panel-heading">
                                <b><a href="mailto:{$comment2->email}" n:tag-if="$comment2->email">{$comment2->name}</a></b> napsal:
                                <div class="pull-right">{$comment->created_at}&nbsp &nbsp &nbsp <a class="btn btn-danger btn-xs" n:if="$user->isInRole('admin')" n:href="smazKomentar! $comment2->id" ><i class="fa fa-trash" aria-hidden="true"></i> Smazat komentář </a></div>
                            </div>

                            <div class="panel-body">
                                <div>{$comment2->content}</div>
                            </div>
                        </div>
                    {/if}
                {/foreach}

                <div class="panel-footer">
                    {form subCommentForm}
                        <input type="hidden" value="{$comment->id}" n:name="comment_id">
                        <input type="text" class="form-control" placeholder="Reagovat" aria-describedby="basic-addon2" n:name="subcomment">
                    {/form}
                </div>
            </div>
        {/if}
    {/foreach}

    {if $user->isLoggedIn()}
        {form commentForm}
            <div class='form-group'>
                <input type="text" class="form-control" placeholder="Nový komentář (Jste přihlášen jako {$user->identity->username})" aria-describedby="basic-addon1" n:name="content">
            </div>
        {/form}
    {/if}

    {if !($user->isLoggedIn())}
        {form commentForm}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Vložte nový komentář (a odešlete klávesou ENTER)</h4>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" placeholder="Jméno" aria-describedby="basic-addon1" n:name="name">
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">@</span>
                            <input type="email" class="form-control" placeholder="E-mail" aria-describedby="basic-addon1" n:name="email">
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-commenting-o" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" placeholder="Komentář" aria-describedby="basic-addon1" n:name="content" >
                        </div>
                    </div>
                </div>
            </div>
        {/form}
    {/if}
