{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{ifset title}{include title|striptags} | {/ifset}Nette Sandbox</title>

    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <meta name="viewport" content="width=device-width">

    <!-- Načteme si Bootstrap CSS -->
    <link href="{$basePath}/css/bootstrap.css" rel="stylesheet">

    <!-- Načteme si FontAwesome ikonky -->
    <link href="{$basePath}/css/font-awesome.min.css" rel="stylesheet">

    <!-- Načteme si Summernote -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {block head}{/block}
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- hlavička navbaru - to co se zobrazí na telefonu (malém rozlišení) -->
        <div class="navbar-header">
            <!-- tlačítko pro rozjetí menu s ID navbar-main (data-target atribut) -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <i class="fa fa-rocket fa-fw" aria-hidden="true"></i>
                Blog
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a n:href="Homepage:">Články</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {if $user->loggedIn}
                    <li><a n:href="Sign:out"><i class="fa fa-sign-out" aria-hidden="true"></i> Odhlásit</a></li>
                {else}
                    <li><a n:href="Sign:in"><i class="fa fa-sign-in" aria-hidden="true"></i> Přihlásit</a></li>
                {/if}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div n:foreach="$flashes as $flash" class="col-lg-12 alert alert-{$flash->type}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {$flash->message}
    </div>

    <div class="col-lg-8 col-lg-offset-2">
        {include content}
    </div>
</div>


<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
<script src="{$basePath}/js/main.js"></script>

{ifset scripts}
    {include scripts}
{/ifset}

</body>
</html>
